.menutren{
    background-color: #2fa1b3;
    height: 30px;
    width: 100%;

}ul.menungang{
    display: flex;
    list-style: none;
    width: 900px;
    margin-left: auto ;
    margin-right: auto ;
}

ul.menungang a{
    color: white;
    text-decoration:none ;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 6px ;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    display: block;
    transition: 0.4s;
}
ul.menungang a:hover{
    background-color: rgb(15, 86, 99);
    padding-top: 3px;
    padding-bottom: 9px;
}