h2{
    width: 500px;
    margin-left: 250px ;
    font-family: segoe ui;
}
h4.so1{
    width:500px;
    margin-left: 300px;
    font-family: segoe ui;
}
h4{
    width: 500px;
    margin-left:300px;
}
img{
    width: 500px;
    margin-left: 300px;
}
li{
    width: 500px;
    margin-left: 275px;
    font-size: 12px;
    font-family: segoe ui;
}
a.link{
    color: rgb(113, 117, 131);
}
hr{
    width: 500px;
    margin-left: 300px;
}
p{
    width: 500px;
    margin-left: 300px;
}
div.chiacot{
    display:flex;
    width: 200px;
}img.a{
    width: 300px;
    margin-left: 300px;   
}
img.b{
    width: 200px;
    margin-left: 10px;
}