div.to{
    display: flex;
    margin-left:400px ;
    width:780px;
    height:200px; 
}
div.trai{
    width: 300px;
    margin-right:15px;
    height: 200px;
}
div.phai{
    width:400px;
}
img{
    width: 100%;
    height: 200px;
}