.header-2020 .container{
    display: flex;
    height: 66px;
    width:1200px;
    margin:auto;

}
.logo{
    display: inline-block;
    width: 125px;
    height: 54px;
    margin-left: 0px;
    margin-right: 100px;
    }
.logo img{
    width: 100%;
}
.header-2020 .header_search {
    display: flex;
    width: 500px;
    height: 50px;
    margin-right: 100px;
}
.header_search .text-search{
    width:100%
}

.header-2020 .header_user{
    margin-right: 10px;
}