.header-2020 .container{
    display: flex;
    height: 66px;
    width:1200px;
    margin:auto;

}
.logo{
    display: inline-block;
    width: 150px;
    height: 70px;
    margin-left: 0px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
    }
.logo img{
    width: 100%;
}
.header-2020 .header_search {
    display: flex;
    width: 500px;
    height: 40px;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
.header_search .text-search{
    width:100%
}

.header-2020 .header_user{
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 35px;
}
.header-2020 .mobile{
    font-size: 35px;
    margin-top: auto;
    margin-bottom: auto;
}
.header-2020 .menu{
    width: 100%;
    height:50px ;
    background-color: rgb(36, 113, 148);
}
 .menungang{
    list-style: none;
    width: 900px;
    margin-top:10px;
    margin-right: auto;
    margin-left: auto;
    padding:auto;
    width: 100%;
    display: flex;
    
}
ul.menungang a{
    text-align: center;
    text-decoration: none;
    color:white;
    font-family: segoe ui light;
    font-size: 15px;
    padding:6px;
    margin: 5px;
  
    display: block;
    transition: 0.3s;
}
ul.menungang a:hover{
    color: rgb(15, 57, 77) ;
    padding-top: 3px;
    padding-bottom: 3px;
}

