.cottrai{
    font-family: segoe ui light;
    font-size: 13px;
    width: 500px;
    transition: 0.4s;

}
.cottrai img{
    width: 100%;
}
a.anhvatd{
    text-decoration: none;
    color: black;
    font-size: large;
    /* transition: 0.4s; */
}
.chamvao:hover{
    color:blueviolet;
}
.anhvatd h3{
    margin: auto;
    padding: auto;
}
a.nguon{
    font-size:small  ;
    text-decoration: none;
    color: rgb(197, 193, 193);
}
a.lq{
    font-size: small;
    text-decoration: none;
    color: rgb(197, 193, 193);
}
span{
    font-size: small;
    text-decoration: none;
    color: rgb(197, 193, 193);
}
.cottrai .duoi{
    display: flex;
}
.duoi a{
    text-decoration: none;
    color: black;
    font-size: smaller;
    width: 30%;
    margin: auto;
    /* justify-content: space-evenly; */
}
.duoi h4{
    width: 100%;  
    padding:auto;
}

