div.to1{
    display: flex;
    width:900px;
    /* height: 260px; */
    margin-left: 300px;
    border-bottom: 1px solid rgb(129, 18, 18);
    padding-bottom: 20px;
}
div.trai{
    width: 325px;
    height: 260px;
    margin-right: 10px;
}
div.phai{
    width:565px;
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
      height: 240px;
}