.firstline{
    width: 100%;
    height: 56px;
    background-color:#006FBB;
    /* padding-bottom: 10px; */
    padding-top: 28px;
    display: flex;
}
.firstline img{
    width:170px;
    height: 26x;
    display: inline-block;
    margin-left: 25px;
    margin-right: 340px;
}
.firstline input{
    padding-left: 35px;
    height: 40px;
    width: 760px;
    border-radius: 10px;
    background-color: #54aeeb;
    border: thin double #32a1ce;
    border-style: none;
    
}

.firstline .search input:focus  {
    background-color: #fff;
    transition: none;
}


.firstline .search .form-control-feedback{
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.chuanghira{
    width: 1100px;
    height: 242px;
    background-color: rgba(105, 104, 105, 0.11);
    font-family: segoe ui light;
    font-size: 15px;
    border:thin;
}
.chuanghira b.Book{
    width: 100%;
    margin: auto;
    margin-left: 20px;
    /* margin-top: 40px; */
    margin-bottom: 10px;
    padding-top: 10px;
    
}
.chuanghira .menu{
    width: 100%;
    display: flex;
    list-style: none;
    margin: auto;
    margin-top: 10px;
    margin-left: -30px;
    
    /* display: block; */
    /* transition: 0.4ms; */
    
}

.chuanghira li{
    width: auto;
    color: black;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: -28px;
    transition: 0.2s;
    text-align: center;
    

}
.chuanghira .menu .hr1{
    background-color:blue;
    height: 2px;
    visibility: hidden;
    
}
.chuanghira li:hover .hr1{
    visibility: visible;
}
.chuanghira li:hover{
    color: brown;   
}

.hr2{
    margin-top: 14px;
    margin-bottom: 25px;
}

.chuanghira .menucontent{
    width: 100%;
    display: flex;   
    flex-wrap: wrap;
    margin: auto;
}
.chuanghira .content {
    display: flex;
    height: auto;
    width: 175px;
    margin-left: 20px;
    /* justify-content: center; */

}
.chuanghira a.content{
    text-decoration: none;
    text-align:center;

}
.chuanghira .content img{
    width: 32px;
    height: 32px;
    /* margin-right: 4px; */
}
.chuanghira .content .sp1{
    display: flex;
    line-height: 32px;
    width: auto;
    /* text-align:center;    */
    color: rgb(39, 99, 211);   

}

.chuanghira .content .sp2{
    margin-left: 5px;
    width: auto;
    line-height: 32px;
    /* padding-bottom: 5px; */
    text-align: center;
    /* display: block; */
}
.chuanghira a :hover{
    text-decoration:underline;
}