.firstline{
    width: 100%;
    height: 40px;
    background-color:#006FBB;
    /* padding-bottom: 10px; */
    /* padding-top: 28px; */
    display: flex;
}
.firstline img{
    padding-top: 9px;
    width:140px;
    height: 26x;
    display: inline-block;
    margin-left: 25px;
    margin-right: 340px;
}
.firstline input{
    margin-top: 7px;
    padding-left: 35px;
    height: 25px;
    width: 760px;
    border-radius: 3px;
    background-color: #54aeeb;
    border: thin double #32a1ce;
    border-style: none;
    
}

.firstline .search input:focus  {
    background-color: #fff;
    transition: none;
}

.firstline .search .form-control-feedback{
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.onmenuweb{
    border-top:2px solid #757a7e;
    border-bottom:1px solid #757a7e;
    margin: auto;
    margin-left: 52px;
    padding-top: 5px;
    width: 1200px;
    height: 45px;
    background-color: #f4f6f8;
}
.onmenuweb .inonmenu{
    display: flex;
    margin-top: 5px;
    margin-left: 30px;
}
.onmenuweb span{
    width: 28px;
    height: 28px;
}
.onmenuweb img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.onmenuweb a{
    font-family: segoe ui light;
    line-height:28px;
    text-align: left ;
    width: auto;
    height: 18.4px;
    text-decoration: none;
}
.menunoibat {
    margin-left: 52px;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
    font-style: normal;
    font-size: 13px;
    width:1200px;
    height:250px;
    background-color: #b2bac2;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.menunoibat .firstline1{
    margin-left: 30px;
    padding-top:10px;
}
.menunoibat .line2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.menunoibat .listmenu a{
    margin-left:50px ;
    margin-top: 20px;
    text-decoration: none;
}
.menunoibat .listmenu img  {
    width:60px;
    height:60px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}
.menunoibat .listmenu span{
    margin-left: 15px;
    margin-right: 15px;
}



.chuanghira{
    width: 1100px;
    height: 242px;
    background-color: rgba(105, 104, 105, 0.11);
    font-family: segoe ui light;
    font-size: 15px;
    border:thin;
}
.chuanghira b.Book{
    width: 100%;
    margin: auto;
    margin-left: 20px;
    /* margin-top: 40px; */
    margin-bottom: 10px;
    padding-top: 10px;
    
}
.chuanghira .menu{
    width: 100%;
    display: flex;
    list-style: none;
    margin: auto;
    margin-top: 10px;
    margin-left: -30px;
    
    /* display: block; */
    /* transition: 0.4ms; */
    
}

.chuanghira li{
    width: auto;
    color: black;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: -28px;
    /* transition:; */
    text-align: center;
    

}
.chuanghira .menu .hr1{
    background-color:blue;
    height: 2px;
    visibility: hidden;
    
}
.chuanghira li:hover .hr1{
    visibility: visible;
}
.chuanghira li:hover{
    color: brown;   
}

.hr2{
    margin-top: 14px;
    margin-bottom: 25px;
}

.chuanghira .menucontent{
    width: 100%;
    display: flex;   
    flex-wrap: wrap;
    margin: auto;
}
.chuanghira .content {
    display: flex;
    height: auto;
    width: 175px;
    margin-left: 20px;
    /* justify-content: center; */

}
.chuanghira a.content{
    text-decoration: none;
    text-align:center;

}
.chuanghira .content img{
    width: 32px;
    height: 32px;
    /* margin-right: 4px; */
}
.chuanghira .content .sp1{
    display: flex;
    line-height: 32px;
    width: auto;
    /* text-align:center;    */
    color: rgb(39, 99, 211);   

}

.chuanghira .content .sp2{
    margin-left: 5px;
    width: auto;
    line-height: 32px;
    /* padding-bottom: 5px; */
    text-align: center;
    /* display: block; */
}
.chuanghira a :hover{
    text-decoration:underline;
}