.chuanghira{
    width: 1100px;
    height: 242px;
    background-color: rgba(105, 104, 105, 0.11);
    font-family: segoe ui light;
    font-size: 15px;
    border: thick double #32a1ce;
}
.chuanghira b.Book{
    width: 100%;
    margin: auto;
    margin-left: 20px;
    /* margin-top: 40px; */
    margin-bottom: 10px;
    padding-top: 10px;
    
}
.chuanghira .menu{
    width: 100%;
    display: flex;
    list-style: none;
    margin: auto;
    margin-top: 10px;
    margin-left: -30px;
    margin-bottom: 10px;
    /* display: block; */
    /* transition: 0.4ms; */
    
}

.chuanghira li{
    width: auto;
    color: black;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.3s;
    text-align: center;
    

}
.chuanghira li:hover{
    color: brown;
    padding-top:3px;
    padding-bottom: 7px;
    background-color: rgb(233, 98, 98);
}

.chuanghira .menucontent{
    width: 100%;
    display: flex;   
    flex-wrap: wrap;
    margin: auto;
}
.chuanghira .content {
    display: flex;
    height: auto;
    width: 175px;
    margin-left: 20px;
    /* justify-content: center; */

}
.chuanghira a.content{
    text-decoration: none;
    text-align:center;

}
.chuanghira .content img{
    width: 32px;
    height: 32px;
    margin-right: 4px;
}
.chuanghira .content span{
    line-height: 32px;
    width: auto;
    text-align:center;
    color: rgb(39, 99, 211);
}
.chuanghira .content span:hover{
    text-decoration:underline;
}