body {
    background-color: rgb(232, 230, 235);
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
    width: 100%;
    height: auto;
}
.topbar {
    width: 100%;
    height: 56px;
    background-color: rgb(74, 56, 233);
    display: flex;
}
.topbar .icon {
    /* padding-top: 25.5px;
    padding-bottom: 25.5px; */
    /* padding-left: 23px; */
    width:260px;
    height: 86px;
}
.topbar .icon img{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 23px;
    width:130px;
    height: 24px;
}
.topbar .search{
    padding-left: 440px;
    width: 100%;
    height: auto;
}
.topbar input{
    margin-top: 14px;
    margin-bottom: 15px;
    padding-left: 35px;
    height: 25px;
    width: 760px;
    border-radius: 3px;
    background-color: #54aeeb;
    border: thin double #32a1ce;
    border-style: none;
    height: 30px;
    
}
.topbar ::placeholder{
    color:rgb(138, 85, 85);
    visibility: visible;
}

.topbar .search input:focus  {
    background-color: rgb(223, 198, 198);
    transition: none;
    color: navy;
}

.topbar .search .form-control-feedback{
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3.8rem;
    text-align: center;
    pointer-events: none;
    color: rgb(167, 126, 126);
}
.menutop{
    padding-top: 15px;  
    margin-top:20px;
    margin-left: 30px;
    height: 65px;
    width: 1840px;
    background-color: rgb(194, 196, 192);   
}
.menutop .tieude {
    margin-left: 20px;
    height: 30px;
    width: auto;
}
.menutop span{
    padding:5px;
    display: block;
    margin-left: 2px;
    width: 28px;
    height: 28px;
    background-color: rgb(128, 118, 118);
    /* border-radius: 55%; */
}
.menutop img{
    padding:2px;
    width: 20px;
    height: 15px;
    border-radius: 50%;
    padding: 1px;
    align-items: center;
}
